@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;800;900&display=swap');


:root {
	font-family: 'Golos Text', sans-serif;

	--background: #F8F8F8;
	--secondary-background: #ADADAD;
	--border: #CECECE;
	--error: #DB1A1A;
	--warning: #F8A000;
	--success: #308800;
	--active: #007AC7;
	--disabled: #ADADAD;
	--primary: #0092E1;
	--secondary: #58B8EE;
	--text-color: #868686;
	--headings-color: #333333;
	--bold-color: #333333;
	--italic-color: #868686;
	--link: #0062BC;
	--menuSize: 60px;

	color-scheme: light dark;
	line-height: 1.5;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Golos Text', sans-serif;
}
p, i, u {
	color: var(--text-color);
}
h1, h2, h3, h4, b {
	color: var(--headings-color);
}
body {
	background-color: var(--secondary-background);
}

button {
	font-size: 1rem;
	padding: 8px 16px;
	margin: 5px 10px;
	font-weight: 600;
	border-radius: 4px;
	border: none;
	color: var(--background);
	background-color: var(--primary);
	cursor: pointer;
}
button:hover {
	background-color: var(--active);
}
button:disabled,
button:disabled:hover {
	background-color: var(--disabled);
	color: var(--text-color);
	cursor: default;
}
button.inverse,
button.inverse:hover {
	padding: 7px 14px;
	background-color: var(--background);
	color: var(--primary);
	border: 1px solid var(--primary);
}
button.inverse:disabled,
button.inverse:disabled:hover {
	border: 1px solid var(--disabled);
	color: var(--disabled);
}

label {
	color: var(--text-color);
	font-size: 14px;
}

.pageBody {
	display: flex;
	height: calc(100dvh - var(--menuSize));
	padding: 20px;
}


